.pentosqricon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    color: white;
    width: 19px;
    height: 19px;
    background-color: rgb(56, 103, 186);
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 10px;
}



.userProfile{
    padding: 20px;
}

.userProfile .accIn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userProfile .accIn .top{
    display: flex;
    gap: 10px;
    align-items: center;
}


.userProfile .accIn .top .top-left{
    display: flex;
    align-items: flex-start;
}
.userProfile .accIn .top .top-left img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 2px solid rgb(59, 121, 230);
    position: relative; 
    object-fit: cover;
    object-position: center;
}
.userProfile .accIn .top .top-left img:hover{
    filter: blur(1px);
}


.userProfile .accIn .top .top-right {
    display: flex;
    flex-direction: column;
}
.userProfile .accIn .top .top-right h1{
    display: flex;
    align-items: center;
    color: rgb(52, 92, 162);
}
.userProfile .accIn .top .top-right p{
    color: rgb(52, 92, 162);
    font-weight: 500;
}


.userProfile .actions{
    display: flex;
    gap: 10px;
    padding: 0 10px;
}
.userProfile .actions .btn{
    border: 0; outline: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 13px;
    display: flex;
    width: max-content;
    transition: 0.15s;
}

.userProfile .actions .delete{
    background: red;
}
.userProfile .actions .delete:hover{
    background: rgb(152, 39, 39);
}
.userProfile .actions .reset{
    background: rgb(44, 65, 226);
}
.userProfile .actions .reset:hover{
    background: rgb(33, 43, 119);
}

@media screen and (max-width: 500px) {
    .userProfile .accIn .top .top-left img{
        width: 65px;
        height: 65px;
    }
    .userProfile .accIn .top .top-left span{
        width: 15px;
        height: 15px;
        font-size: 8px;
    }
    .userProfile .accIn .top .top-right h1{
        font-size: 17px;
    }
    .userProfile .accIn .top .top-right p{
        font-size: 12px;
    }
}


.userProfile .imgChange{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000066;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    z-index: 9999;
}
.userProfile .imgChangeOpen{
    visibility: visible;
    opacity: 1;
}
.userProfile .imgChange .imgIn{
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.userProfile .imgChange .imgIn h1{
    color: rgb(56, 103, 186);
    font-size: 25px;
}
.userProfile .imgChange .imgIn input{
    border: 2px solid #1f70c6;
    outline: none;
    border-radius: 8px;
    width: 300px;
    height: max-content;
    font-size: 13px;
    font-weight: 500;
    background: white;
    padding: 8px 0vh 8px 1vh;
}
.userProfile .imgChange .imgIn input::-webkit-file-upload-button{
    background: rgb(56, 103, 186);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
}
.userProfile .imgChange .imgIn button{
    border: 0;
    outline: none;
    background: #0056b3;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.userProfile .imgChange .imgIn button:hover{
    opacity: 0.9;
}



hr{
    margin: 15px 0;
}


.userProfile .section .user-details{
    display: flex;
    justify-content: space-around;
}
.userProfile .section .user-details .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userProfile .section .user-details .detail span:first-child{
    font-weight: 600;
    font-size: 19px;
    color: rgb(59, 121, 230);
}




.userProfile .section h1{
    color: rgb(56, 103, 186);
    margin-bottom: 10px;
}
.userProfile .section .bio-content{
    background: #f7f7f7;
    border-radius: 15px;
    padding: 20px;
}

.userProfile .section .bio-content ul,
.userProfile .section .bio-content ol{
    padding: 5px 0 5px 25px;
}

.addBio{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    transform: translateY(100%);
    transition: 0.25s;
}
.addBioOpen{
    transform: translateY(0);
}


.AddBio{
    margin-top: 10px;
    border-top: 3px solid rgb(44, 99, 218);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 10px;
}
  
.AddBio .closeBtn{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.AddBio .closeBtn button{
    border: 0;
    outline: 0;
    color: white;
    background: rgb(44, 99, 218);
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}
.AddBio .closeBtn button:last-child{
    background-color: red;
}
.AddBio .closeBtn button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 500px){
    .userProfile .section h1{
        font-size: 20px;
    }
    .userProfile .section .bio-content{
        padding: 13px;
        font-size: 12.5px;
        border-radius: 6px;
    }
}